@import "tailwindcss";

@theme {
    --color-temu: #FB7701;
}



/* ================================================== */
/* === CLIP PAHT BARRA INFERIOR === */
.cardUsuario {
    clip-path: path("M 0,0 L 0,0 A 30,20 0,0,1 30,20 A 30,30 0,0,0 60,50 A 30,30 0,0,0 90,20 A 30,20 0,0,1 120,0 L 320,0 A 30,30 0,0,1 320,60 L 0,60 A 30,30 0,0,1 0,0 Z");
}
.cardUsuario2 {
    clip-path: path("M 0,0 L 0,0 A 30,20 0,0,1 31.5,20 A 30,30 0,0,0 60,50 A 30,30 0,0,0 88.5,20 A 30,20 0,0,1 120,0 L 320,0 A 30,30 0,0,1 320,60 L 0,60 A 30,30 0,0,1 0,0 Z");
}


.cardCategorias {
    clip-path: path("M 40,0 L 55,0 A 30,20 0,0,1 85,20 A 30,30 0,0,0 115,50 A 30,30 0,0,0 145,20 A 30,20 0,0,1 175,0 L 320,0 A 30,30 0,0,1 320,60 L 40,60 A 30,30 0,0,1 40,0 Z");
}
.cardCategorias2 {
    clip-path: path("M 40,0 L 55,0 A 30,20 0,0,1 86.5,20 A 30,30 0,0,0 115,50 A 30,30 0,0,0 143.5,20 A 30,20 0,0,1 175,0 L 320,0 A 30,30 0,0,1 320,60 L 40,60 A 30,30 0,0,1 40,0 Z");
}

.cardInicio {
    clip-path: path("M 40,0 L 120,0 A 30,20 0,0,1 150,20 A 30,30 0,0,0 180,50 A 30,30 0,0,0 210,20 A 30,20 0,0,1 240,0 L 320,0 A 30,30 0,0,1 320,60 L 40,60 A 30,30 0,0,1 40,0 Z");
}
.cardInicio2 {
    clip-path: path("M 40,0 L 120,0 A 30,20 0,0,1 151.5,20 A 30,30 0,0,0 180,50 A 30,30 0,0,0 208.5,20 A 30,20 0,0,1 240,0 L 320,0 A 30,30 0,0,1 320,60 L 40,60 A 30,30 0,0,1 40,0 Z");
}

.cardFavoritos {
    clip-path: path("M 40,0 L 185,0 A 30,20 0,0,1 215,20 A 30,30 0,0,0 235,50 A 30,30 0,0,0 275,20 A 30,20 0,0,1 305,0 L 320,0 A 30,30 0,0,1 320,60 L 40,60 A 30,30 0,0,1 40,0 Z");
}
.cardFavoritos2 {
    clip-path: path("M 40,0 L 185,0 A 30,20 0,0,1 216.5,20 A 30,30 0,0,0 235,50 A 30,30 0,0,0 273.5,20 A 30,20 0,0,1 305,0 L 320,0 A 30,30 0,0,1 320,60 L 40,60 A 30,30 0,0,1 40,0 Z");
}

.cardCarrito {
    clip-path: path("M 40,0 L 240,0 A 30,20 0,0,1 270,20 A 30,30 0,0,0 300,50 A 30,30 0,0,0 330,20 A 30,20 0,0,1 360,0 A 30,30 0,0,1 360,60 L 40,60 A 30,30 0,0,1 40,0 Z");
}
.cardCarrito2 {
    clip-path: path("M 40,0 L 240,0 A 30,20 0,0,1 271.5,20 A 30,30 0,0,0 300,50 A 30,30 0,0,0 328.5,20 A 30,20 0,0,1 360,0 A 30,30 0,0,1 360,60 L 40,60 A 30,30 0,0,1 40,0 Z");
}
/* ================================================== */



/* ================================================== */
/* === BOTONES CATEGORIAS === */
/* Oculta scrollbar en Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Oculta scrollbar en Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* ================================================== */




/* ================================================== */
.cardHero {
    clip-path: path("M 30,50 L 80,50 A 20,20 0,0,0 100,30 A 30,30 0,0,1 130,0 L 330,0 A 30,30 0,0,1 360,30 L 360,210 A 30,30 0,0,1 330,240 L 300,240 A 20,20 0,0,0 280,260 A 20,20 0,0,1 260,280 L 30,280 A 30,30 0,0,1 0,250 L 0,80 A 30,30 0,0,1 30,50 Z");
}


